<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>ro.project.servlet.SocialMediaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>History</servlet-name>
		<servlet-class>ro.project.servlet.QuoteHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>History</servlet-name>
		<url-pattern>/QuoteHistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Pending</servlet-name>
		<servlet-class>ro.project.servlet.PendingQuotesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pending</servlet-name>
		<url-pattern>/PendingQuotes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Parse</servlet-name>
		<servlet-class>ro.project.servlet.ParseWebsiteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Parse</servlet-name>
		<url-pattern>/ParseWebsite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>parsejsp</servlet-name>
		<jsp-file>/parse.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>parsejsp</servlet-name>
		<url-pattern>/parse</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Home.jsp</welcome-file>
	</welcome-file-list>
</web-app>