<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>parsejsp</servlet-name>
		<jsp-file>/parse.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>parsejsp</servlet-name>
		<url-pattern>/parse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>edit</servlet-name>
		<jsp-file>/Edit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>edit</servlet-name>
		<url-pattern>/Edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessToken</servlet-name>
		<servlet-class>ro.project.servlet.SocialMediaSchedulerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/AccessToken</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/PendingQuotes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/DeletePending</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/ParseWebsite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/Post</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/QuoteHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<context-param> 
		<param-name>path2</param-name> 
		<param-value>C:/Tomcat/apache-tomcat-7.0.59/webapps/</param-value> 
	</context-param> 
	<context-param> 
		<param-name>path</param-name> 
		<param-value>C:\\\\Tomcat\\\\apache-tomcat-7.0.59\\\\webapps\\\\</param-value> 
	</context-param>
</web-app>
	
	<!-- <servlet>
		<servlet-name>Pending</servlet-name>
		<servlet-class>ro.project.servlet.PendingQuotesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pending</servlet-name>
		<url-pattern>/PendingQuotes</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>DeletePending</servlet-name>
	<servlet-class>ro.project.servlet.DeletePendingQuoteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePending</servlet-name>
		<url-pattern>/DeletePending</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>ro.project.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Parse</servlet-name>
		<servlet-class>ro.project.servlet.ParseWebsiteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Parse</servlet-name>
		<url-pattern>/ParseWebsite</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Post</servlet-name>
		<servlet-class>ro.project.servlet.PostToSocialMediaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Post</servlet-name>
		<url-pattern>/Post</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaginationServlet</servlet-name>
		<servlet-class>ro.project.servlet.PaginationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaginationServlet</servlet-name>
		<url-pattern>/QuoteHistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>ro.project.servlet.SocialMediaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>-->
